@tailwind base;
@tailwind components;
@tailwind utilities;

.input-fit {
    min-width: 300px;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 4px 0;
}

.fa-copy:hover {
    color: lightblue;
    cursor: pointer;
}

body {
    background-image: url("../public/ffflux.svg");
    background-size: 100%;
}

.card-wrap .details {
    visibility: hidden;
}

.card-wrap:hover .details {
    visibility: visible;
}